@model CreateClientViewModel

<form asp-controller="Home" asp-action="Create" method="Post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Dob">Date of Birth:</label>
        <input asp-for="Dob"/>
        <span asp-validation-for="Dob"></span>
    </div>  
    <div>
        <label asp-for="Contact">
            <select asp-for="Contact" asp-items="@Html.GetEnumSelectList(typeof(ContactType))"></select>
        </label>
    </div>
    <div>
        <label asp-for="Mobile">Mobile:</label>
        <input asp-for="Mobile" />
        <span asp-validation-for="Mobile"></span>
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <input type="submit" value="Add" />
</form>

